html {
    padding-top: 2rem;
    padding-bottom: 10rem; 
}

@media (min-width: 550px) {
    html {
        padding-top: 4rem;
    }
}

@media (min-width: 1140px) {
    html {
        padding-top: 6rem;
    }
}

h1 {
    padding-top: 10rem;
}

h2 {
    font-size: 3.6rem;
}


.row {
    padding-top: 2rem;
}

.title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.title h1 {
    padding-top: 6rem;
}

.title > div {
        flex: 0 0 100%;
}

.title img {
    width: 100%;
}

@media (min-width: 550px) {
    .title > div.title-logo {
        flex: 0 0 12rem;
    }
    
    .title > div {
        flex: 0 0 100%;
    }
}

@media (min-width: 1140px) {
    .title > div.title-logo {
        margin-right: 4rem;
    }
    .title > div {
        flex: 1;
    }
}

.solution {
    padding: 5rem;
    margin-top: 5rem;
    border: solid 1px #eee; 
    border-radius: 1rem;
    background-color: #fbfbfb;
}

.solution p {
    font-size: 2rem;
}

.solution ul {
    margin-bottom: 0px;
}

.solution ul {
    font-size: 1.6rem;
}

.logo ul {
    list-style: none;
    padding-top: 2rem;
}

.logo li {
    display: inline-block;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.logo a {
    display: block;
    background: #fbfbfb;
}

.logo a:hover {
    background: #f5f5f5;
}

.logo img {
    height: 4rem;
    padding: 3rem;
    vertical-align: middle;
}

.plus {
    padding-left: 3rem;
}

.plus a {
    color: #ddd;
    background-color: transparent;
    padding-top: 2rem;
}

.plus a:hover {
    color: #ccc;
    background-color: transparent;
}
