html {
    padding-bottom: 10rem; 
}

h1 {
    padding-top: 7rem;
}

h2 {
    font-size: 3.6rem;
}

.row {
    padding-top: 2rem;
}

.solution {
    padding: 5rem;
    margin-top: 5rem;
    margin-bottom: 15rem;
    border: solid 1px #eee; 
    border-radius: 1rem;
    background-color: #fbfbfb;
}

.solution p {
    font-size: 2.4rem;
}

.solution ul {
    margin-bottom: 0px;
}

.solution ul {
    font-size: 1.6rem;
}

.logo ul {
    list-style: none;
    padding-top: 2rem;
}

.logo li {
    display: inline-block;
    padding-right: 1rem;
}

.logo a {
    display: block;
    background: #fbfbfb;
}

.logo a:hover {
    background: #f5f5f5;
}

.logo img {
    height: 10rem;
    vertical-align: middle;
}

.plus {
    padding-left: 3rem;
}

.plus a {
    color: #ddd;
    background-color: transparent;
}

.plus a:hover {
    color: #ccc;
    background-color: transparent;
}